a:link{
	color: pink;
}
a:visited{
	color: blue;
}

a:hover{
	color: red;

}

a:active{
	color:yellow ;

}

div:hover{
	height: 300px;
	width: 300px;
	background-color: violet;
}




